<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap=".Build/vendor/autoload.php"
         cacheDirectory=".Build/phpunit-cache"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="Repository">
            <directory>Tests/Repository</directory>
        </testsuite>
        <testsuite name="Migration integration">
            <directory>Tests/Integration</directory>
        </testsuite>
    </testsuites>
</phpunit>
